<md-dialog class='remove-appointment-dialog'>
  <form name='removeAppointmentFormoveAppointmentForm' ng-submit='rac.removeAppointment()' novalidate>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <span>Remover compromisso:</span>
      <span flex></span>
      <md-button class='fa fa-times md-icon-button' ng-click='rac.close()' title='Cancelar' aria-label='Cancelar'></md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout='column' layout-padding>
    <div class='md-dialog-content'>
      <p>Tem certeza que deseja remover este compromisso?</p>
    </div>
    </md-dialog-content>

    <md-dialog-actions layout='row'>
      <md-button type='button' aria-label='Cancelar' ng-click='rac.close()' class='md-primary'>
        Cancelar
      </md-button>

      <md-button type='submit' aria-label='Enviar' class='md-primary'
          ng-disabled='removeAppointmentForm.$invalid'>
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
